/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%aside 
  / @include 'kit/b_rst.kit'
  / @include 'kit/b_search.kit'
      
%section.content 

  %ul.b_bread
    %li <a href=''>Главная</a>
    %li <a href=''>Связь и телефония</a>
    %li Мобильные телефоны

  %h2.b_label Мобильные телефоны

  %ul.b_other
    %li <a href=''>Apple</a>
    %li <a href=''>Fly</a>
    %li <a href=''>LG</a>
    %li <a href=''>Philips</a>
    %li <a href=''>Sony Ericsson</a>

  %ul.b_order
    %li Сотировать по:
    %li <a href=''><span>цене</span></a>
    %li <a class="active down" href=''><span>популярности</span></a>
    %li <a href=''><span>названию</span></a>

  %ul.b_pagination
    %li <a href=''><<</a>
    %li <a href=''>1</a>,
    %li <a href=''>2</a>,
    %li <a href=''>3</a>,
    %li <a href=''>4</a>,
    %li <a href=''>5</a>
    %li ...
    %li <a href=''>25</a>
    %li <a href=''>>></a>

  .clear 

  / @include 'kit/b_catalog_elem.kit'
  / @include 'kit/b_catalog_elem.kit'
  / @include 'kit/b_catalog_elem.kit'
  / @include 'kit/b_catalog_elem.kit'

  %ul.b_order
    %li Сотировать по:
    %li <a href=''><span>цене</span></a>
    %li <a class="active down" href=''><span>популярности</span></a>
    %li <a href=''><span>названию</span></a>

  %ul.b_pagination
    %li <a href=''><<</a>
    %li <a href=''>1</a>,
    %li <a href=''>2</a>,
    %li <a href=''>3</a>,
    %li <a href=''>4</a>,
    %li <a href=''>5</a>
    %li ...
    %li <a href=''>25</a>
    %li <a href=''>>></a>

  .clear

  .b_index_text.m_delivery
    %img{:src => "i/services_02.png"} 
    %p Мобильные телефоны Fly – замечательный пример современной глобализации. Производятся телефоны путем объединения усилий трех компаний из разных стран. Fly – это детище английской фирмы Sendo, корейской Sewon и китайской Bird. Сама торговая марка принадлежит известной компании Meridian Group.
    %p 
      Особенности 
      %br 
      &minus; доступная стоимость всех моделей;
      %br 
      &minus; современный узнаваемый дизайн, компактные размеры;
      %br 
      &minus; простой интерфейс, в котором легко сможет разобраться и школьник, и пенсионер, и тем более продвинутый пользователь;
      %br 
      &minus; достаточно высокое качество для данного ценового сегмента;
      %br 
      &minus; гарантия производителя 1 год.

    %p Мобильные телефоны Fly охватывают три направления технологий и функционала:
    %p 
      &minus; Гаджеты для тех, кто использует аппарат только для звонков и смс (например, модели Fly DS 103-113).
      %br 
      &minus; Мультимедийные устройства  (ориентированные на молодых пользователей), например, модели Fly E141 TV Black c большим дисплеем, возможностью просматривать TV-передачи, прослушивать mp3 и радио. Fly E154 Silver приведет в восторг поклонников соцсетей, ведь этот телефон дает быстрый доступ к любимым ресурсам, а также музыке и видеофайлам.
      %br 
      &minus; Престижные аппараты для бизнесменов, оснащенные всеми необходимыми для ведения бизнеса опциями – настоящие мобильные офисы.  К примеру, телефоны серии IQ, которые представляют собой стильные смартфоны с множеством полезных приложений. Некоторые модели способны поддерживать одновременную работу 2 симкарт, имеют хорошую камеру (5 Мпикс), а объем памяти за счет

.clear

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'