/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%aside 
  / @include 'kit/b_rst.kit'
  / @include 'kit/b_banner.kit'
  / @include 'kit/b_ltl_news.kit'
      
%section.content 

  %h2.b_label.m_image 
    %img{:src => "i/contacts.png", :alt => "", :style => "vertical-align: -35px;"} 
    Контакты

  .b_index_text.m_delivery.m_contacts

    %img{:src => "i/map.png", :alt => ""} 

    %h4.orange Как нас найти

    %p 
      Пункт выдачи товара: <br>
      м.«Юго-Западная», бизнес-парк «Румянцево» <br>
      (первый вагон из центра, из метро направо и прямо вдоль шоссе<br>
      до последней остановки бесплатного автобуса). Бизнес-парк "Румянцево", пав.155В

    %p 
      E-Mail:  shop@oviro.ru <br>
      Web-сайт:  http://www.oviro.ru/ <br>
      Телефоны: +7 495 9791090, +7 499 2723033

    %p 
      Режим работы: <br>
      Ежедневно с 8:00 до 20:00 (Мск. время). Бизнес-парк "Румянцево", пав.155В

    %p 
      Реквизиты: <br>
      ООО "Авекон" <br>
      ИНН/КПП 5009086273 / 500901001 <br>
      ОГРН 1125009005549 <br>
      Юридический адрес: 142000, Московская обл., <br>
      г. Домодедово, м-он Западный, ул. Лунная, д. 1, корп. 1, пом. 012

.clear

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'