/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%aside 
  / @include 'kit/b_rst.kit'
  / @include 'kit/b_banner.kit'
  / @include 'kit/b_ltl_news.kit'
      
%section.content 

  %h2.b_label.m_image 
    %img{:src => "i/delivery.png", :alt => "", :style => "vertical-align: -15px;"} 
    Доставка и оплата

  .b_index_text.m_delivery
    %p Обсудить вопросы доставки можно по телефонам: 
    %p 
      %big 8(499)272-30-33
      %br 
      %big 8(495)979-10-90
      %br 
      %big ICQ 586-213-656
      %br 
    %p После оформления заказа оператор свяжется с Вами для уточнения деталей, удобного времени и адреса доставки. Товары будут привезены по указанному адресу в офис или на дом. Дополнительно представитель нашей курьерской службы свяжется с Вами и подтвердит время доставки. Собственная курьерская служба Oviro.ru – гарантия того, что вы получите цифровую технику своевременно, в полной комплектации и останетесь довольны нашим сервисом.
    %h4 Режим работы:
    %p 
      Каждый день:  
      %big с 8:00 до 20:00
    %p Вы можете сделать заказ в удобное для Вас время, а оператор обработает заявку в рабочие часы.
    %p Курьерская служба Oviro работает по графику: 
    %p 
      Понедельник-пятница:  
      %big с 11:00 до 20:00
    %p Заказы, сделанные в выходные, доставляются в будние дни. 
    %h4 Стоимость доставки: 
    %p По Москве в пределах МКАД - от 0 до 250 руб.
    %p По Москве за МКАД - 350 руб.
    %p По области за МКАД не далее 10 км. - от 500 руб. 

    %h4 Условия оплаты:
    %p.orange - Наличные (физические лица): 
    %p Принимаем оплату в рублях. В течение 2 дней с момента оформления заказа стоимость товаров остается неизменной, если вы производите оплату позже этого срока, то итоговая сумма может измениться, об этом Ваш личный менеджер Oviro.ru обязательно предупредит. Каждый покупатель при оплате заказа получает документы, подтверждающие приобретение товара: товарный и кассовые чеки.
    %p.orange - Безналичный расчет (юридические лица): 
    %p Возможна оплата по безналу. К сумме заказа приплюсовываются 3%. Предварительно менеджер Oviro.ru согласует с Вами оптимальный способ перечисления денег, после чего выписывается счет. Все зарезервированные товары откладываются на 3 банковских дня. Как только оплата поступит на наш счет, товар отпускается заказчику. При этом для получения заказа покупатель (представитель покупателя) предоставляет оригинал доверенности, выписанной уполномоченным лицом организации-плательщика, в которой указываются получаемые материальные ценности. Существует и альтернативный вариант: получатель заверяет наш экземпляр товарно-транспортной накладной «круглой» печатью организации-плательщика. Вместе с заказом покупатель получает сопроводительные документы: накладную (по форме ТОРГ-12), счет-фактуру, а также оригинал счета. 
    %p Приятных покупок в Oviro.ru!

.clear

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'