/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%aside 
  / @include 'kit/b_rst.kit'
  / @include 'kit/b_banner.kit'
  / @include 'kit/b_ltl_news.kit'
      
%section.content 
  / @include 'kit/b_catalog_menu.kit'
  / @include 'kit/b_catalog_new.kit'
  / @include 'kit/b_index_text.kit'

.clear

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'