/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%aside 
  / @include 'kit/b_rst.kit'
  / @include 'kit/b_banner.kit'
  / @include 'kit/b_ltl_news.kit'
      
%section.content 

  %h2.b_label.m_image 
    %img{:src => "i/market.lbl.png", :alt => "", :style => "vertical-align: -15px;"} 
    Корзина заказов (4)

  / @include 'kit/b_market_table.kit'

  /.b_sum.line
  .b_sum
    .count 90 930 р.
    %label Сумма заказа:
    .clear 
    %input{:type => "image", :src => "i/ord.png"} 
    .clear 
    .back 
      %a{:href => ""} Вернуться в каталог

  .b_form_order 
    .label Форма оформления заказа
    .field 
      %label Заказчик:
      .input
        %input{:type => "checkbox", :name => ""} Физическое лицо
        %input{:type => "checkbox", :name => ""} Юридическое лицо
    .field 
      %label ФИО:
      .input
        %input{:type => "text"} 
    .field 
      %label Адрес доставки:
      .input
        %textarea
    .field 
      %label Email:
      .input
        %input{:type => "text"} 
    .field 
      %label Ближайшее метро:
      .input
        %select 
          %option{:value => ""} Авиамоторная
          %option{:value => ""} Другая
    .field 
      %label Желательная дата доставки:
      .input
        %input{:type => "text"} 
    .field 
      %label Телефон:
      .input
        +7 <input type="text" id="phone_mask">
    .field.mb 
      %label Комментарии:
      .input
        %textarea
    .field 
      %label Организация:
      .input
        %input{:type => "text"} 
    .field 
      %label ИНН/КПП:
      .input
        %input{:type => "text"} 
    .field 
      %label Юридический адрес:
      .input
        %input{:type => "text"} 
    .field 
      %label Название банка:
      .input
        %input{:type => "text"} 
    .field 
      %label БИК банка:
      .input
        %input{:type => "text"}
    .field 
      %label Рассчетный счет:
      .input
        %input{:type => "text"}
    .field 
      %label Корреспондентский счет:
      .input
        %input{:type => "text"}
    .field.btns
      %input{:type => "submit", :value => "Оформить"} 
      %p 
        %a{:href => ""} Вернуться в каталог

  .b_buy_with_this
    %label С этими товаром покупают:
    %ul 
      / @include 'kit/b_buy_with_this_elem.kit'
      / @include 'kit/b_buy_with_this_elem.kit'
      / @include 'kit/b_buy_with_this_elem.kit'
      / @include 'kit/b_buy_with_this_elem.kit'

.clear

/ @include 'kit/b_popup.kit'

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'