/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%aside 
  / @include 'kit/b_rst.kit'
  / @include 'kit/b_banner.kit'
  / @include 'kit/b_ltl_news.kit'
      
%section.content 

  %ul.b_bread
    %li <a href=''>Главная</a>
    %li Связь и телефония

  %h2.b_label Связь и телефония

  / @include 'kit/b_menu.kit'

.clear

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'