/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%aside 
  / @include 'kit/b_rst.kit'
  / @include 'kit/b_banner.kit'
  / @include 'kit/b_ltl_news.kit'
      
%section.content 

  %ul.b_bread
    %li <a href=''>Главная</a>
    %li <a href=''>Новости</a>
    %li Fly IQ451 Vista
  
  %h2.b_label.m_image 
    %img{:src => "i/news.png", :alt => "", :style => "vertical-align: -35px;"} 
    Новости

  .b_news 
    %h3 Fly IQ451 Vista
    %p.date 2013-04-11 05:04:22
    
    %p Бренд Fly анонсирует новинку в линейке четырехъядерных смартфонов - мощный IQ451 Vista. В смартфоне продумано все, от дизайна, до «железной начинки». Высокая производительность обеспечивается четырёхъядерным процессором с частотой каждого ядра 1,2 ГГц, порадует пользователя и обновленный интерфейс от ОС Android 4.1 Jelly Bean. Вдобавок к мощному процессору флагманский аппарат оснащен 5” HD-дисплеем, идеальным для видео высокой четкости, основной камерой 8 Мпикс и фронтальной 2 Мпикс. Модель будет доступна в марте по рекомендованной цене 12990 рублей. 

    %h5 Дизайн и габариты
    %p Дизайн смартфона никого не оставит равнодушным! Не смотря на большую диагональ экрана, аппарат не выглядит громоздким. Дисплей с первого взгляда поражает ярким, четким и контрастным изображением. Толщина Fly IQ451 Vista составляет всего лишь 10,7 мм, а вес чуть более 150 г. Благодаря оптимальным габаритам и качественным материалам смартфон хорошо лежит в руке и удобен в повседневном использовании. 

    %img{:src => "i/review.png", :alt => ""} 

    %h5 Четырёхъядерный процессор 1,2 ГГц
    Новый смартфон от Fly построен на новой четырехъядерной платформе MTK6589 (частота каждого ядра 1,2 ГГц) и графическим процессором PowerVR™ SGX Series5 XT. Аппарат превосходно справляется с любыми поставленными задачами и обеспечивает впечатляющее быстродействие. По версии мобильного теста Antutu Benchmark устройство набирает больше 12500 баллов. Идеальным дополнением к столь мощному процессору будет служить оперативная память объемом 1 Гб, что отлично сказывается на многозадачности, а встроенную флеш-память объемом 4 Гб пользователь может расширить с помощью карт памяти microSDHC (до 32 Гб). Благодаря столь мощной начинке Fly IQ451 Vista практически не имеет аналогов в своем ценовом диапазоне. 

    %h5 Android 4.1 Jelly Bean
    %p Смартфон Fly IQ451 Vista работает под управлением мобильной операционной системы Android 4.1 Jelly Bean. Новая версия платформы отличается значительным ускорением интерфейса: увеличилась скорость отклика, плавность прокрутки и анимаций. 

    %iframe{:src => "http://www.youtube.com/embed/2lQAqmz4kfM", :frameborder => "0", :allowfullscreen => true, :width => 710, :height => 533} 

    %h5 5-дюймовый IPS-дисплей
    %p Fly IQ451 Vista оснащен 5” HD-дисплеем с разрешением 1280x720 пикселей. Экран выполнен с использованием технологии IPS, обеспечивающей широкие углы обзора и большую глубину цветопередачи. Благодаря размерам и высокому разрешению пользователи могут работать с офисными документами и просматривать веб-страницы без необходимости скроллинга и перемещения по экрану, а также полноценно использовать мультимедийные возможности смартфона. 

    %h5 Беспроводные модули Bluetooth, Wi-Fi, 3G, GPS
    %p Fly IQ451 Vista поддерживает высокоскоростные стандарты подключения к сети Интернет - 3G/HSDPA+ и Wi-Fi. Модуль Bluetooth 4.0 обеспечивает беспроводную связь с другими устройствами, а модуль GPS – полноценные навигационные возможности. 

    %h5 Мультимедиа
    %p Fly IQ451 Vista снабжен двумя модулями камер: основным - на 8 Мпикс с автофокусом (фото с максимальным разрешением 3264х2448 пикс.) и фронтальным – на 2 Мпикс. Основная камера оснащена BSI сенсором, позволяющим достичь высокого качества изображения при низком уровне освещения. Запись видео производится в формате FullHD с разрешением 1920x1080 пикселей. 

    %p Музыкальный плеер Fly IQ451 Vista поддерживает возможность создания плейлистов. Наличие универсального 3,5 мм разъема позволит подключить собственные наушники. Имеется FM-тюнер. 

    %p Fly IQ451 Vista оснащен широким набором встроенных приложений для работы и развлечений: приложения для навигации, клиенты для общения в популярных социальных сетях и блогах, приложение SPB TV с возможностью просмотра телеканалов в прямом эфире и видео по запросу через Интернет, интернет-кинотеатр ivi.ru, приложение для удобного учета ежедневных расходов Coin Keeper, сервис для моментального вызова такси inTaxi и сервис интернет-банкинга uBank. 

    %p Список имеющихся в смартфоне приложений всегда можно расширить с помощью магазина приложений. 

    %p Фото и спецификации смартфона доступны по ссылке: http://www.fly-phone.ru/devices/smartphones/vista/


.clear

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'