/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%aside 
  / @include 'kit/b_rst.kit'
  / @include 'kit/b_banner.kit'
  / @include 'kit/b_ltl_news.kit'
      
%section.content 

  %ul.b_bread
    %li <a href=''>Главная</a>
    %li Новости

  %h2.b_label.m_image 
    %img{:src => "i/news.png", :alt => "", :style => "vertical-align: -35px;"} 
    Новости

  .b_news_list
    / @include 'kit/b_news_list_elem.kit'
    / @include 'kit/b_news_list_elem.kit'
    / @include 'kit/b_news_list_elem.kit'
    / @include 'kit/b_news_list_elem.kit'

.clear

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'