/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%aside 
  / @include 'kit/b_rst.kit'
  / @include 'kit/b_banner.kit'
  / @include 'kit/b_ltl_news.kit'
      
%section.content 

  %ul.b_bread
    %li <a href=''>Главная</a>
    %li <a href=''>Связь и телефония</a>
    %li <a href=''>Мобильные телефоны</a>
    %li <a href=''>Samsung</a>
    %li Samsung I8750 Ativ S

  %h2.b_label.m_show Смартфон Samsung I8750 Ativ S

  .b_tag #12344567

  .b_show
    .fotorama{:data => {:width => 340, :height => 450}}
      %a{:href => "i/show_01.png"} 
        %img{:src => "i/show_02.png"} 
      %a{:href => "i/show_03.png"} 
        %img{:src => "i/show_03.png"} 
      %a{:href => "i/show_04.png"} 
        %img{:src => "i/show_04.png"} 
      %a{:href => "i/show_05.png"} 
        %img{:src => "i/show_05.png"} 
      %a{:href => "i/show_06.png"} 
        %img{:src => "i/show_06.png"} 
    .data 
      .price
        %span 13 990 р.
        12 990 р.
      .tg.warranty
        Гарантия 1 год
      .tg.rst 
        Весь товар сертифицирован
      .modif 
        %label Цвета и модификации:
        .wrap 
          %a.l{:href => ""} 
          %a.r{:href => ""} 
          %ul 
            %li 
              %img{:src => "i/car_01.png", :alt => ""} 
            %li 
              %img{:src => "i/car_02.png", :alt => ""} 
            %li 
              %img{:src => "i/car_03.png", :alt => ""} 
            %li 
              %img{:src => "i/car_04.png", :alt => ""} 
            %li 
              %img{:src => "i/car_01.png", :alt => ""}
            %li 
              %img{:src => "i/car_02.png", :alt => ""} 
      .delivery 
        %p Способы доставки:
        %p Курьером, бесплатно:  завтра <i></i>
        %p Самовывоз, бесплатно:  28 июня <i></i>
      .bell
        %span 
        %a{:href => "", :data => {:role => "popup_open", :target => "#phone_popup"}} Заказать обратный звонок
      .clear
      .compare 
        %a{:href => ""} Добавить в сравнение
      .btns 
        %a.btn{:href => ""} В корзину!
        .one_click 
          %span 
          %a{:href => ""} Купить за один клик
      .back
        %a{:href => ""} << Вернуться в каталог
    .clear

  .b_show_tabs 
    %ul.tabs 
      %li.active 
        %a{:href => ""} Описание
      %li 
        %a{:href => ""} Технические характеристики
      %li 
        %a{:href => ""} Аксессуары (35)
      %li 
        %a{:href => ""} Обзор
    .contents
      .content.active 
        %p Смартфон Samsung I8750 Ativ S — это современное устройство, способное соединить пользователя с Интернетом массой способов, снять отличные фотографии и записать видео, помочь в навигации по картам. В смартфоне есть все, что может понадобиться в течение дня, он позволит грамотно распланировать время и удобно структурировать список контактов.  
        %ol 
          %li <i></i> Повсеместный доступ к связи. Смартфон Samsung I8750 Ativ S обеспечит подключение к Интернету посредством стандартного GPRS, скоростного 3G, адаптера Wi-Fi – к услугам пользователя широкий выбор актуальных для каждой ситуации вариантов. Модуль Bluetooth позволит соединиться с другими устройствами в радиусе 100 метров. 
          %li <i></i> Удобная GPS-навигация. Встроенный датчик определения местоположения позволяет работать с картами. Навигатором удобно пользоваться в путешествиях и в поездках на автомобиле.  
          %li <i></i> Легкий компактный корпус. Оборудованный всевозможными интерфейсами и дополнительными датчиками, смартфон Samsung I8750 Ativ S весит чуть больше 100 граммов!
      .content 
        .col 
          / @include 'kit/b_tech_table.kit'
        .col 
          / @include 'kit/b_tech_table.kit'
      .content 
        .b_buy_with_this
          %ul 
            / @include 'kit/b_buy_with_this_elem.kit'
            / @include 'kit/b_buy_with_this_elem.kit'
            / @include 'kit/b_buy_with_this_elem.kit'
            / @include 'kit/b_buy_with_this_elem.kit'
            / @include 'kit/b_buy_with_this_elem.kit'
            / @include 'kit/b_buy_with_this_elem.kit'
            / @include 'kit/b_buy_with_this_elem.kit'
            / @include 'kit/b_buy_with_this_elem.kit'
          %p.all 
            %a{:href => ""} Еще аксессуары
      .content 
        .review
          %p Компания Sony анонсировала HD смартфон с влагозащищённым корпусом, что позволяет использовать его в достаточно «мокрых» условиях. Корпус может защитить его от влаги и пыли согласно требованиям международного стандарта IP55 и IP57.
          %p Устройство работает под управлением операционной системы Android 4.0 (Ice Cream Sandwich) и будет поставляться в трёх цветах — белый, черный и розовый.
          %img{:src => "i/review.png", :alt => ""} 
          %p Что касается начинки Sony Xperia Acro S, то он оснащен сенсорным дисплеем HD Reality Display с разрешением 1280 x 720 точек с диагональю 4,3. Так-же экран поддерживает технологию Mobile BRAVIA Engine. Основная камера смартфона 12,1 Мп с авто фокусом, светодиодной вспышкой и поддержкой режима быстрой съёмки. Она позволяет снимать видео с Full HD (1080p) разрешением. Фронтальная же камера выделяется на фоне остальных андроидфонов и имеет разрешение 1,3 Мп (720p), что весьма не мало. Закалённое защитное стекло, устойчивое к появлению царапин, из минерального стекла может распознать даже прикосновения мокрыми пальцами рук.
          %p Процессор двухядерный с тактовой частотой 1,5 ГГц, встроено 1 Гбайт оперативной памяти и 16 Гбайт флеш памяти. Для расширения возможностей предусмотрен слот для карты памяти microSD до 32 Гбайт, GPS (aGPS)/ГЛОНАСС приёмник, модуль Wi-Fi, Bluetooth и заявлена поддержка технологий DLNA, NFC для беспроводной передачи данных. На корпусе есть разъемы HDMI, microUSB, 3,5 мм аудио разъем для наушников.
          %p В смартфон установлена довольно ёмкая батарея 1910 мАч которая может обеспечить до 7 часов автономной работы в режиме разговора в сети UMTS и до 310 часов в режиме ожидания. Что касается размеров устройства, они составляют 126 x 66 x 11,9 мм и весит он 147 грамм.
          %p Подводная съемка
          %iframe{:src => "http://www.youtube.com/embed/2lQAqmz4kfM", :frameborder => "0", :allowfullscreen => true, :width => 710, :height => 533} 
          %p Пример подводной видеосъемки с презентации. На 4 секунде видео аппарат погружен в аквариум с водой.
          %p Цена Sony Xperia Acro S будет известна ближе к дате начала продаж, о чем вы сможете узнать на нашем сайте с появлением данной информации. Купить Sony Xperia Acro S с доставкой по Москве, Питеру (Санкт-Петербургу), всем регионам России, а так же в Киев, Одессу и другим городам Украины, можно будет после появления его в продаже в третьем квартале 2012 года.

  .b_buy_with_this
    %label С этими товаром покупают:
    %ul 
      / @include 'kit/b_buy_with_this_elem.kit'
      / @include 'kit/b_buy_with_this_elem.kit'
      / @include 'kit/b_buy_with_this_elem.kit'
      / @include 'kit/b_buy_with_this_elem.kit'

.clear

/ @include 'kit/b_popup.kit'

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'