/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%aside 
  / @include 'kit/b_rst.kit'
  / @include 'kit/b_banner.kit'
  / @include 'kit/b_ltl_news.kit'
      
%section.content 

  %ul.b_bread
    %li <a href=''>Главная</a>
    %li Гарантия

  %h2.b_label.m_image 
    %img{:src => "i/warranty.png", :alt => "", :style => "vertical-align: -35px;"} 
    Гарантия

  .b_index_text.m_delivery.m_warranty
    %p Все товары в интернет-магазине цифровой техники Oviro.ru соответствуют стандартам качества, которые определяются российским законодательством, и сертифицированы для России. Продукция, приобретаемая у нас, подлежит гарантийной поддержке при предоставлении гарантии заводом-производителем. Покупатель может запросить для ознакомления пакет сопроводительных документов на любой товар, приобретаемый в нашем магазине.
    %p В этом разделе Вы найдете перечень авторизованных сервисных центров, в которых осуществляется гарантийное обслуживание товаров определенных марок. При продаже мы обязательно вносим соответствующие отметки в гарантийный талон, что дает в дальнейшем покупателю право в течение гарантийного срока бесплатно обслуживать и ремонтировать технику в авторизованных сервисных центрах в соответствии с условиями гарантийных обязательств завода-изготовителя.
    %p Напоминаем, что гарантийное обслуживание представляет собой бесплатное (безвозмездное) устранение недостатков товара, которые возникли именно по вине производителя. Ремонт по гарантии возможен, если были соблюдены правила эксплуатации (использования) техники, установленные производителем. 
    %p При покупке цифровой техники предоставляется гарантия на 1-5 лет (в зависимости от вида, модели, марки техники).
    %p Товары ненадлежащего качества могут быть возвращены продавцу. Для этого покупатель пишет заявление в свободной форме, обязательно с указанием причины возврата, детально описывает дефекты и их локализацию. Далее покупатель передает заявление в нашу службу поддержки и прилагает к нему фотографию, на которой отображены дефекты. Затем товар сдается в сервис-центр, где производится экспертиза. Срок проведения экспертизы – 30 дней. Если экспертиза выявит недостатки товара, возникшие не по вине покупателя, тогда продавец заменяет товар аналогичным, также возможно возмещение полной стоимости. Сроки и процедура возврата товаров ненадлежащего качества регулируются законодательством РФ. 
    %p Информируем покупателей, что возможен возврат товаров надлежащего качества, в случаях, предусмотренных законодательством РФ. Условиями возврата являются сохранение товарного вида товара, чека или иной документации, подтверждающей факт покупки в нашем магазине. Обращаем внимание, что стоимость доставки в этом случае покупателю не возвращается.
    %blockquote 
      %span.orange Внимание: 
      покупатель при приемке заказа должен осмотреть товар на предмет механических повреждений и проверить работоспособность изделия в присутствии курьера. При наличии видимых дефектов (сколы, царапины, трещины и пр.) техника заменяется аналогичной без проведения экспертизы и без заявления от покупателя. Курьер доставит аналогичный товар в оговоренные сроки (плата за повторную доставку не взимается). 
    %p Если у Вас остались вопросы по гарантийной поддержке, позвоните в Oviro.ru и мы с удовольствием поможем разобраться!

  / @include 'kit/b_services.kit'

.clear

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'